<h2>Enter your Data</h2>
<form action="/test" method="POST">
<input type="username" placeholder="username" name="Username" /> <br />
<input type="text" placeholder="title" name="Name" /><br />
<textarea name="Description" ></textarea><br />
<input type="link" name="Clink"/><br />
<input type="file" name="imgUpload"/><br />
<input type="submit" value="Submit" id="btn"/>
</form>