<!DOCTYPE html>
<html lang="en">
<head>
    <% include /partials/head %>
</head>
<body>

<h2>Contact Us</h2>
<h2>Cars:</h2>

<section class="container">
<div class="row">
<ul><% BlogPost .forEach(function(BlogPost ) { %>
        <li>
       	<div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              
            </div>
            <div class="card-content">
            <h3><a href="/blog/<%= BlogPost._id %>"><%= BlogPost.Name %><a/></h3>
              <p><%= BlogPost.Description %></p>
            </div>
            
          </div>
        </div>




         </li>
    <% }); %></ul>
    </div>
    </section>
  </body>
  </html>